<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBA 318</title>
  </head>
  <body>
    <div id="main-container">
      <div class="navigation-bars">
        <div class="top-navigation-bar">
          <h1 style="padding-left: 20px">WanderUS</h1>
          <form class="languages" action="#">
            <label for="languages"></label>
            <select
              name="languages"
              id="language-options"
              placeholder="English"
            >
              <option value="English">English</option>
              <option value="Spanish">Español</option>
              <option value="French">Français</option>
              <option value="German">Deutsch</option>
              <option value="Italian">Italiano</option>
              <option value="Portuguese">Portuguese</option>
            </select>
          </form>
        </div>
        <hr />
        <div class="second-top-nav-bar">
          <button>Take Our Quiz</button>
          <button>Things to Do</button>
          <button>Where to Go</button>
          <button>Contact Us</button>
          <div class="search-bar">
            <input type="search" placeholder="Search" />
            <input type="submit" />
          </div>
        </div>
      </div>
      <div id="app">
        <h1>#title#</h1>
        <h2>#location#</h2>
        <h3>#user#</h3>
        <div>#content#</div>
      </div>
    </div>
  </body>
</html>
