<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBA 318</title>
  </head>
  <body>
    <div
      class="navigation-bars"
      style="
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        box-shadow: 5px 5px 20px 1px #a5bcc9;
        margin: -8px;
      "
    >
      <div
        class="top-navigation-bar"
        style="
          display: flex;
          justify-content: space-between;
          margin-right: 20px;
        "
      >
        <h1>WanderUS</h1>
        <form class="languages" action="#">
          <label for="languages" style="margin-bottom: -100px"></label>
          <select name="languages" id="language-options" placeholder="English">
            <option value="English">English</option>
            <option value="Spanish">Español</option>
            <option value="French">Français</option>
            <option value="German">Deutsch</option>
            <option value="Italian">Italiano</option>
            <option value="Portuguese">Portuguese</option>
          </select>
        </form>
      </div>
      <hr />
      <div
        class="second-top-nav-bar"
        style="
          display: flex;
          justify-content: space-around;
          padding-bottom: 10px;
        "
      >
        <button
          style="
            color: black;
            text-decoration: none;
            padding: 2px 40px 2px 40px;
            border: none;
            text-align: center;
            white-space: nowrap;
          "
        >
          Take Our Quiz
        </button>
        <button
          style="
            color: black;
            text-decoration: none;
            padding: 2px 40px 2px 40px;
            border: none;
            text-align: center;
            white-space: nowrap;
          "
        >
          Things To Do
        </button>
        <button
          style="
            color: black;
            text-decoration: none;
            padding: 2px 40px 2px 40px;
            border: none;
            text-align: center;
            white-space: nowrap;
          "
        >
          Where to Go
        </button>
        <button
          style="
            color: black;
            text-decoration: none;
            padding: 2px 40px 2px 40px;
            border: none;
            text-align: center;
            white-space: nowrap;
          "
        >
          Contact Us
        </button>
        <div class="search-bar">
          <input type="search" placeholder="Search" />
          <input type="submit" />
        </div>
      </div>
    </div>
  </body>
</html>
